[Desktop Entry]
Type=Application
Exec=garuda-toolbox
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Toolbox
Name=Toolbox
Icon=garuda-toolbox
