/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #4e3600 !important;
  --toolbarbutton-icon-fill: #cf9926 !important;
  --toolbar-field-color: #626262 !important;
  --tab-selected-textcolor: #cf9926 !important;
  --toolbar-color: #626262 !important;
  --arrowpanel-color: #626262 !important;
  --arrowpanel-background: #1f1f1f !important;
  --sidebar-text-color: #626262 !important;
  --zen-main-browser-background: #131313 !important;
  --zen-main-browser-background-toolbar: #131313 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #131313 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #131313 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1f1f1f !important;
}

#zen-workspaces-button {
  background-color: #1f1f1f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f1f1f !important;
}

.urlbar-input::selection {
  color: #231600 !important;
  background-color: #cf9926 !important;
}

.urlbarView-url {
  color: #a2a2a2 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #cf9926
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #e3b145 !important;
  --identity-icon-color: #e3b145 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #cf9926 !important;
  --identity-icon-color: #cf9926 !important;
}

.identity-color-green {
  --identity-tab-color: #7ff86a !important;
  --identity-icon-color: #7ff86a !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe66d !important;
  --identity-icon-color: #ffe66d !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd819 !important;
  --identity-icon-color: #ffd819 !important;
}

.identity-color-red {
  --identity-tab-color: #ff6f62 !important;
  --identity-icon-color: #ff6f62 !important;
}

.identity-color-pink {
  --identity-tab-color: #ffd06d !important;
  --identity-icon-color: #ffd06d !important;
}

.identity-color-purple {
  --identity-tab-color: #4e3600 !important;
  --identity-icon-color: #4e3600 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #cf9926 !important;
  color: #cf9926 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #cf9926 !important;
  color: #cf9926 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #cf9926 !important;
}
