/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #543300 !important;
  --toolbarbutton-icon-fill: #da932e !important;
  --toolbar-field-color: #626262 !important;
  --tab-selected-textcolor: #da932e !important;
  --toolbar-color: #626262 !important;
  --arrowpanel-color: #626262 !important;
  --arrowpanel-background: #1f1f1f !important;
  --sidebar-text-color: #626262 !important;
  --zen-main-browser-background: #131313 !important;
  --zen-main-browser-background-toolbar: #131313 !important;
}

#zen-browser-background {
  --zen-main-browser-background: #131313 !important;
  --zen-background-opacity: 1 !important;
}

#zen-toolbar-background {
  --zen-main-browser-background-toolbar: #131313 !important;
  --zen-background-opacity: 1 !important;
}

.sidebar-placesTree {
  background-color: #1f1f1f !important;
}

#zen-workspaces-button {
  background-color: #1f1f1f !important;
}

#TabsToolbar {
  background-color: #131313 !important;
}

.urlbar-background {
  background-color: #1f1f1f !important;
}

.urlbar-input::selection {
  color: #261400 !important;
  background-color: #da932e !important;
}

.urlbarView-url {
  color: #a2a2a2 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #da932e
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #efad4e !important;
  --identity-icon-color: #efad4e !important;
}

.identity-color-turquoise {
  --identity-tab-color: #da932e !important;
  --identity-icon-color: #da932e !important;
}

.identity-color-green {
  --identity-tab-color: #88ff72 !important;
  --identity-icon-color: #88ff72 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffe772 !important;
  --identity-icon-color: #ffe772 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffd921 !important;
  --identity-icon-color: #ffd921 !important;
}

.identity-color-red {
  --identity-tab-color: #ff7268 !important;
  --identity-icon-color: #ff7268 !important;
}

.identity-color-pink {
  --identity-tab-color: #ffc472 !important;
  --identity-icon-color: #ffc472 !important;
}

.identity-color-purple {
  --identity-tab-color: #543300 !important;
  --identity-icon-color: #543300 !important;
}

#zen-appcontent-navbar-container {
  background-color: #131313 !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #da932e !important;
  color: #da932e !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #da932e !important;
  color: #da932e !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #da932e !important;
}
