.music-activity {
    
    .visualizer {
        .bar {
            transition-property: min-height;
            transition-duration: 20ms;
            transition-timing-function: linear;
            border-radius: 0px;
            border-color: rgba(230, 6, 6, 0);
        }
    }

    .mode-compact {
        background-color: transparent;
        // font-family: sans-serif;
        font-size: medium;
        font-weight: 800;
        color: rgba(196, 143, 58, 0.814);

        .album-art {
            image {
                border-radius: 19px;
                border: solid rgba(53, 53, 53, 0.6) 1px;
            }
        }

        .visualizer {
            margin: 0px 22px 0px 10px;
        }
    }

    .mode-minimal {
        background-color: transparent;
        margin: 0px 0px 0px 10px;


        .album-art {
            image {
                border-radius: 1px;
                border: solid rgba(0, 0, 0, 0) 1px;
            }
        }

        scrolling-label{
             border: 222px solid rgb(0, 245, 45);
             border-radius: 50px;
         }
    }

    .mode-expanded {
        background-color: rgb(0, 0, 0);

        scrolling-label:not(.active){
            label{
                margin-left: 10px;
            }
        }

        .info {

            /* background-color: rgb(0, 95, 121); */
            .visualizer {
                margin: 0px 20px;
            }

            .album-art {
                image {
                    border-radius: 20px;
                    border: solid rgba(53, 53, 53, 0.6) 1px;
                }
            }

            .info-names2 .artist-name {
                margin-left: 10px;
            }
        }

        .progress {
            .elapsed-time,
            .remaining-time {
                font-size: 22px;
                font-weight: bold;
            }

            .progress-bar trough {
                transform: translateY(2px);
                min-height: 5px;
                slider {
                    background-color: yellow;
                    background-image: none;
                    border-color: transparent;
                    box-shadow: none;
                    opacity: 0;
                }

                highlight {
                    border-radius: 0px;
                    border-color: transparent;
                    background-color: white;
                    border-style: solid;
                }
            }
        }

        .controls {
            button {
                background-color: transparent;
                border-radius: 100px;
                border: none;
                background-image: none;
                -gtk-icon-size: 32px;

                transition-property: background-color;
                transition-duration: 100ms;
                transition-timing-function: linear;
            }

            button:active {
                background-color: rgba(53, 53, 53, 100);
                transition-property: background-color;
                transition-duration: 100ms;
                transition-timing-function: linear;
            }

            .previous,
            .next {
                -gtk-icon-size: 48px;
            }

            /* background-color: rgb(2, 84, 1); */
        }
    }
}