/* Colors */

@import '../../.cache/wal/colors-waybar.css';
/* @define-color background #242424; */
@define-color background #000000;
@define-color groupbackground #363636;
@define-color buttoncolor #4a4a4a;
@define-color bordercolor @color11;
@define-color fontcolor #FFFFFF;

* {
    font-family: "Fira Sans Semibold";
    /* font-family: "JetBrains Mono Bold 12"; */
}

.notification-row {
  outline: none;
  background: @background;
}

.notification-row:focus, .notification-row:hover {
    background: @background;
}

.notification-row .notification-background {
  /* padding: 5px 3px; */
}



/* Control Center */
.control-center {
    border: 3px solid @bordercolor;
    padding: 7px;
    background: @background;
}

button {
    border: 1px;
    min-width: 35px;
    /* background: @buttoncolor;transparent */
    background: transparent;
    /* background: alpha(#101010,0.9); */
    /* background: alpha(#101010,0.9); */
}

.notification-group-header {
    font-size: 14px;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin:5px;
}

/* Notification */

.notification {
    border: 3px solid @bordercolor;
	border-radius: 10px;
    padding:10px;
    background: alpha(#101010,0.5);
}

.notification-default-action:hover,
.notification-action:hover {
    color: #ffffff;
    background: transparent;
}
